<h1 class="mb-3"><%= @place["name"] %></h1>

<% if @current_user %>
  <h2>My Posts</h2>

  <a class="btn btn-primary my-2" href="/posts/new?place_id=<%= @place["id"] %>">New Post</a>

  <div class="container my-3">
    <div class="row">
    <% for post in @posts %>
      <div class="col col-12 col-sm-4">
        <h5><%= post["title"] %></h5>
        <h6><%= post["posted_on"] %></h6>
        <p><%= post["description"] %></p>
      </div>
    <% end %>
    </div>
  </div>
<% else %>
  <p>Please login to create posts.</p>
<% end %>
